{% extends 'base.html' %}

{% block content %}
    {% load widget_tweaks %}
    <div class="conatiner">
        <div class="row">
            <form action="{% url 'login' %}?next={{ next }}" method="post" class="col s12">
                {% csrf_token %}
                {% if login_form.non_field_errors %}
                    {% for error in login_form.non_field_errors %}
                        <div class="row">
                            <div class="card-panel red lighten-2 col s3 white-text">{{ error|escape }}</div>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="input-field col s3">
                        {% if login_form.username.errors %}
                            {% for error in login_form.username.errors %}
                                <div class="row">
                                    <div class="card-panel red lighten-2 col s3 white-text">{{ error|escape }}</div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {{ login_form.username.label_tag }}
                        {{ login_form.username|attr:"type:text"|attr:"class:validate" }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s3">
                        {% if login_form.password.errors %}
                            {% for error in login_form.password.errors %}
                                <div class="row">
                                    <div class="card-panel red lighten-2 col s3 white-text">{{ error|escape }}</div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {{ login_form.password.label_tag }}
                        {{ login_form.password|attr:"type:password"|attr:"class:validate" }}
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="waves-effect waves-light btn">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock content%}